@charset "utf-8";

/* Typefaces */


@font-face {
    font-family: 'brauer_neuebold';
    src: url('fonts/brauerneue-bold-webfont.eot');
    src: url('fonts/brauerneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brauerneue-bold-webfont.woff') format('woff'),
         url('fonts/brauerneue-bold-webfont.ttf') format('truetype'),
         url('fonts/brauerneue-bold-webfont.svg#brauer_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FranklinGothicFS';
    src: url('fonts/franklingothic-book-webfont.eot');
    src: url('fonts/franklingothic-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franklingothic-book-webfont.woff') format('woff'),
         url('fonts/franklingothic-book-webfont.ttf') format('truetype'),
         url('fonts/franklingothic-book-webfont.svg#franklingothic-book-webfont') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'FranklinGothicFS';
    src: url('fonts/franklingothic-medium-webfont.eot');
    src: url('fonts/franklingothic-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franklingothic-medium-webfont.woff') format('woff'),
         url('fonts/franklingothic-medium-webfont.ttf') format('truetype'),
         url('fonts/franklingothic-medium-webfont.svg#franklingothic-medium-webfont') format('svg');
    font-weight: 700;
    font-style: normal;

}


/* Global Styles */


html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "FranklinGothicFS", sans serif;
}

h1 {
	font-weight: 700;
	word-spacing: 80%;
	font-size: 36px;
	color: #20222c;
        margin: 0;
}


h2 {
	font-weight: 700;
	word-spacing: 80%;
	font-size: 18px;
	color: #20222c;
	margin: 0;
}


h3 {
	font-weight: 400;
	word-spacing: 80%;
	font-size: 16px;
	color: #20222c;
}

h4 {
	font-weight: 700;
	word-spacing: 80%;
	font-size: 14px;
	color: #20222c;
}

p {
	font-weight: 400;
	word-spacing: 80%;
	font-size: 15px;
	line-height: 22px;
	color: #20222c;
	font-family: Georgia, serif;
}

section {
	overflow: hidden;
	padding: 0 0 100px 0;
}

footer {
	width: 300px;
	padding: 200px 0 40px 0;
	float: left;
}


footer p {
	border-width: 1px;
	border-top-style: solid;
	border-color: #20222c;
	padding: 10px 0 0 0;
	float: inherit;
}

footer img {
	padding: 0 20px 10px 0;
}

ul {
    	color: #20222c;
	font-weight: normal;
	word-spacing: 80%;
	font-size: 15px;
	font-family: Georgia, serif;
	line-height: 22px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
}

ol {
    	color: #20222c;
	font-weight: normal;
	word-spacing: 80%;
	font-size: 15px;
	font-family: Georgia, serif;
	line-height: 22px;
        padding: 0 0 0 20px;
        margin: 0 0 0 0;
}

ul li ul li {
	font-weight: normal;
	word-spacing: 80%;
	font-size: 15px;
	line-height: 18px;
	color: #20222c;
	font-family: Georgia, serif;
}

a:link {
        color: #916a6a;
        text-decoration: none;
}


a:visited {
        color: #916a6a;
        text-decoration: none;
}


a:hover {
        color: #6a7293;
        text-decoration: none;
}


a:active {
        color: #6a7293;
        text-decoration: none;
}

img {
	max-width: 100%;
}

iframe {
	float: inherit;
}

#button {
        border: solid 2px;
        border-color: #916a6a;
        display: inline-block;
        padding: 10px 10px 10px 10px;
}

#button:visited {
        border-color: #916a6a;
}

#button:hover {
        border-color: #6a7293;
}

#button:active {
        border-color: #6a7293;
}



/* Navigation */


nav {
    	padding: 0px 60px 0 60px;
        margin: 0 auto;
        width: 960px;
}

#menu-container {
        position: fixed;
        width: 100%;
        background: #FFFFFF;
        height: 70px;
        opacity: .96;
}

#site-navigation {
	display: block;
	font-size: 24px;
	font-weight: normal;
}

#site-navigation ul {
        font-family: FranklinGothicFS;
        background: #FFFFFF;
        font-size: 18px;
        line-height: 21px;
        color: #20222c;
	list-style: none;
	margin: 0;
	padding: 0 0 0 0px;

}


#site-navigation li {
        font-family: FranklinGothicFS;
	color: #20222c;
        background: #FFFFFF;
	display: block;
	float: left;
	padding: 30px 60px 0px 0px;
	position: relative;
	text-decoration: none;
}


#site-navigation li h2 {
        padding: 0 0 0 20px;
}

#site-navigation li:hover {
	@include transition(background, 0.15s);
	background: #FFFFFF;
	cursor: pointer;
}

#site-navigation ul li ul {
	background: #FFFFFF;
	visibility: hidden;
	float: left;
        min-width: 220px;
	position: absolute;
        transition: visibility 0.15s ease-in;
        padding: 15px 0 0 0;
	left: 0;
}

#site-navigation ul li:hover > ul,
#site-navigation ul li ul:hover {
         visibility: visible;
}

#site-navigation ul li ul li {
	clear: both;
	color: #20222c;
	font-family: FranklinGothicFS;
	font-size: 15px;
	line-height: 18px;
	padding: 10px 20px 10px 20px;
        width: 100%;
}


#site-navigation ul li ul li a {
    color: #20222c;
}

#site-navigation ul li ul li:hover {
	background: #6a7293;

}


#menu {
	background: #FFFFFF;
	padding: 0;
	height: 100%;
}

#menu a {

}


/* Local Styles */


#wrapper {
	min-height: 100%;
	height: 100%;
}

#logotype {
    font-family: 'brauer_neuebold';
    padding: 0 0 0 0;
}

#logotype a {
    color: #20222c;
    text-decoration: none;
}

#logotype a:hover {
    color: #20222c;
    text-decoration: none;
}

#content {
	margin: 0 auto 0 auto;
	padding: 0 60px 0 60px;
	width: 960px;
	height: 100%;
}

#grid {
	margin: 0 auto 0 auto;
	padding: 130px 0px 0 0px;
	width: 960px;
	height: 100%;
}



#grid h1 {
	padding: 100px 30px 10px 0;
	font-weight: 700;
	word-spacing: 80%;
	font-size: 30px;
	color: #20222c;
	line-height: 36px;
}

#grid img:hover {
    opacity:  .6;
}

#content h1 {
	margin: 0;
}

#content h3 {
	margin: 0;
}

#content h4 {
	margin: 0;
}

#content p {
	margin-top: 0;
}



.header {
	padding: 30px 0 30px 0;
	width: 960px;
}


#caption img {
    padding: 0 20px 0 0;
}

#caption {
    font-size: 14px;
    padding: 5px 0 0 0;
}


/* 300px */

.a {
        width: 300px;
	padding: 0 0 30px 0;
}

a. img {
        float: left;
        max-width: 90%;
	padding: 0 20px 20px 0;
}

.a h4 {
        max-width: 90%;
}

.a p {
        max-width: 90%;
	padding: 0 20px 0 0;
}


/* 400px */

.b {
        width: 450px;
        padding:  0 0 30px 0;
}

.b img {
        float: left;
        max-width: 90%;
	padding: 0 20px 20px 0;
}


/* 600px */

.c {
	padding: 0 0 30px 0;
        width: 600px;
}

.c img {
        float: left;
        max-width: 80%;
	padding: 0 20px 20px 0;
}

/* 960px */

.d {
        padding: 0 0 30px 0;
        width: 960px;
}

.d img {
        float: left;
        max-width: 90%;
	padding: 0 20px 20px 0;
}


/* 700px */

.e {
    padding: 0 0 30px 0;
    width: 700px;
}

.e img {
    float: left;
    max-width: 90%;
    padding: 0 20px 20px 0;
}

/* One Column for Image */

.oneColumn img {
        float: left;
        max-width: 90%;
	padding: 0 20px 20px 0;
}

/* Two Columns for Images */

.twoColumn img {
        float: left;
        max-width: 45%;
        padding: 0 20px 20px 0;
}

/* Three Columns for Images */

.threeColumn img {
        float: left;
        max-width: 31%;
        padding: 0 20px 20px 0;
}

/* Four Columns for Images */

.fourColumn img {
        float: left;
        padding: 0 20px 20px 0;
        max-width: 20%;
}

/* Float Left */

.floatLeft {
        float: left;
        overflow: hidden;
}

/* Float Right */

.floatRight {
        float: right;
        overflow: hidden;
}


.spacer /*Terrible name, make sure to rename later*/ {
    padding: 0 0 7px 0;
}



/*

.floatLLL

.floatLRL

.floatLRR

.floatRLL

.floatRRR

.floatRRL

.floatRLR


a = 300
b = 400
c = 600
d = 900

.aaaa
.aaab
.abcd
.abbd */


/*
#test {
    padding: 150px 0 0 180px;
}

#test h1 {
    color: #FFFFFF;
    line-height: 1.7;
    font-size: 48px;
}

#test h2 {
    color: #FFFFFF;
    line-height: 1.7;
    font-size: 28px;
    font-weight: 400;
}

*/
